{% load static %}
<!-- Start settings tab-pane -->
<div class="tab-pane" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
    <!-- Start Settings content -->
    <div>
        <div class="user-profile-img">
            <img src="{% static 'assets/images/small/img-4.jpg' %}" class="profile-img profile-foreground-img" style="height: 160px;"
                alt="">
            <div class="overlay-content">
                <div>
                    <div class="user-chat-nav p-3">

                        <div class="d-flex w-100 align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="text-white mb-0">Settings</h5>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="avatar-xs p-0 rounded-circle" data-bs-placement="bottom">
                                    <input id="profile-foreground-img-file-input" type="file"
                                        class="profile-foreground-img-file-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center p-3 p-lg-4 border-bottom pt-2 pt-lg-2 mt-n5 position-relative">
            <div class="mb-3 profile-user">
                <img src="{% static 'assets/images/users/user.png' %}"
                    class="rounded-circle avatar-lg img-thumbnail user-profile-image" alt="user-profile-image">
                <div class="avatar-xs p-0 rounded-circle">
                    <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                </div>
            </div>



        </div>
        <!-- End profile user -->

        <!-- Start User profile description -->
        <div class="user-setting" data-simplebar>
            <div id="settingprofile" class="accordion accordion-flush">
                <div class="accordion-item">
                    <div class="accordion-header" id="headerpersonalinfo">
                        <a class="accordion-button fs-14 fw-medium collapsed" data-bs-toggle="collapse" href="#personalinfo"
                            aria-expanded="true" aria-controls="personalinfo">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3 avatar-xs">
                                    <div class="avatar-title bg-info-subtle 
     text-info text-info rounded">
                                        <i class="bx bxs-user"></i>
                                    </div>
                                </div>
                                General
                            </div>
                        </a>
                    </div>
                    <div id="personalinfo" class="accordion-collapse collapse" aria-labelledby="headerpersonalinfo"
                        data-bs-parent="#settingprofile">
                        <div class="accordion-body edit-input">
                            <ul class="list-unstyled vstack gap-4 mb-0">
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <a href="{% url 'billing' %}" class="text-transform-none">
                                                <h5 class="fs-13 mb-0 text-truncate">
                                                    Billing
                                                </h5>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end personal info card -->

                <div class="accordion-item">
                    <div class="accordion-header" id="sound_settings">
                        <a class="accordion-button fs-14 fw-medium collapsed" data-bs-toggle="collapse" href="#sound_settings_body"
                            aria-expanded="false" aria-controls="sound_settings_body">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3 avatar-xs">
                                    <div class="avatar-title bg-info-subtle 
     text-info text-info rounded">
                                        <i class='bx bxs-bell-ring' ></i>
                                    </div>
                                </div>
                                Sounds
                            </div>
                        </a>
                    </div>
                    <div id="sound_settings_body" class="accordion-collapse collapse" aria-labelledby="sound_settings"
                        data-bs-parent="#settingprofile">
                        <div class="accordion-body">
                            <ul class="list-unstyled vstack gap-4 mb-0">
                                
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-0 text-truncate">Got A Lead</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" id="got_a_lead_input"
                                                    checked>
                                                <label class="form-check-label" for="got_a_lead_input"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-0 text-truncate">Message Received</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input"
                                                    id="message_received_input" checked>
                                                <label class="form-check-label" for="message_received_input"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="fs-13 mb-0 text-truncate">Message Delivered</h5>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input"
                                                    id="message_delivered_input" checked>
                                                <label class="form-check-label" for="message_delivered_input"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end privacy card -->
            </div>
            <!-- end profile-setting-accordion -->
        </div>
        <!-- End User profile description -->
    </div>
    <!-- Start Settings content -->
</div>
<!-- End settings tab-pane -->